h1{
    text-align: center;
    font-family: 'Croissant One', cursive;
}
h4{
    color: #5c6bc0;
    text-align: center;
    font-family: 'Croissant One', cursive;
}
h5{
    color: #880e4f;
    border-bottom: solid 2px #880e4f;
    letter-spacing: 1px;
    padding-bottom: 8px;
    margin-bottom: 30px;
}
p,li{
    font-size: 18px;
}
h6{
    font-weight: bold;
}
.carousel .carousel-item {
    width:400px;
}
a{
    color: #5c6bc0;
}
p,li,h5,h6{
    font-family: 'Poppins', sans-serif;
}

/* Button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #5c6bc0; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
